{% extends 'base.html.twig' %}

{% block title %}Ecoride - Accueil{% endblock %}

{% block body %}

<!-- Hero -->
<section class="relative h-screen pt-20 bg-cover bg-center bg-no-repeat" style="background-image: url('{{ asset('images/pexels-lkloeppel-577696.jpg') }}');">

    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
        <!-- Carte glassmorphique horizontale -->
        <div class="w-full max-w-6xl backdrop-blur-xl backdrop-saturate-150 backdrop-contrast-125 bg-white/30 rounded-2xl shadow-2xl border border-white/30 p-6 mb-6">
            <form class="flex flex-wrap justify-center gap-2 md:gap-4">
                <input
                    type="text"
                    placeholder="Ville de départ"
                    class="px-4 py-2 font-body text-secondary rounded-lg bg-backgroundDark text-textPrimary placeholder-tSecondaryLight border-accentDark focus:border-accentDark"
                />
                <input
                    type="text"
                    placeholder="Ville d'arrivée"
                    class="px-4 py-2 font-body text-secondary rounded-lg bg-backgroundDark text-textPrimary placeholder-tSecondaryLight border-accentDark focus:border-accentDark"
                />
                
                <div class="relative max-w-sm">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-tSecondaryLight" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                            </svg>
                        </div>
                        <input name="date" type="date" 
                            value="{{ search.date ?? '' }}"
                            class="font-body text-secondary bg-backgroundDark border border-accentDark text-textPrimary placeholder-tSecondaryLight text-body rounded-lg block w-full ps-10 p-2.5 focus:border-accentDark" 
                            placeholder="Date de départ">
                    </div>

                <form class="max-w-xs mx-auto">
                    <div class="relative flex items-center max-w-[8rem]">
                        <button type="button" id="decrement-button" data-input-counter-decrement="quantity-input" class="group bg-background hover:bg-backgroundDark border border-accentDark rounded-s-lg p-3 h-11">
                            <svg class="w-3 h-3 text-tSecondaryLight group-hover:text-textPrimary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                            </svg>
                        </button>
                        <input type="text" id="quantity-input" data-input-counter aria-describedby="helper-text-explanation" class="font-body text-secondary bg-backgroundDark border-x-0 border-accentDark h-11 text-center text-textPrimary text-body block w-full py-2.5 focus:border-accentDark" value="1" min="1" max="4" required />
                        <button type="button" id="increment-button" data-input-counter-increment="quantity-input" class="group bg-background hover:bg-backgroundDark border border-accentDark rounded-e-lg p-3 h-11">
                            <svg class="w-3 h-3 text-tSecondaryLight group-hover:text-textPrimary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                        </button>
                    </div>
                    <button type="button" class="font-body text-base text-textSecondary hover:text-textPrimary bg-accent hover:bg-accentDark rounded-lg text-body px-4 py-2 ">Rechercher
                    </button>
                </form>
            </form>
        </div>
        <br>
        <h1 class="text-title font-title text-secondary">
            Bienvenue sur Ecoride,
            <br>
            réduisez vos coûts, réduisez votre impact
        </h1>
    </div>
</section>

<!-- Section A propos -->
<section id="qui-sommes-nous" class="bg-backgroundDark">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-title font-title text-textPrimary tracking-tight leading-none md:text-5xl xl:text-6xl">Qui sommes nous ?</h1>
            <p class="max-w-2xl mb-6 text-base font-body text-textSecondary lg:mb-8 md:text-lg lg:text-xl">EcoRide est une plateforme innovante dédiée à la mobilité durable. Notre mission est de proposer des solutions pratiques et accessibles pour encourager des déplacements respectueux de l'environnement. Nous croyons que chaque trajet peut contribuer à un avenir plus propre, et nous mettons tout en œuvre pour rendre l'écomobilité plus simple et efficace pour tous. 
            <br>
            Notre ambition est de révolutionner la mobilité urbaine en mettant à disposition des outils intelligents pour une gestion plus verte des déplacements. Nous voulons sensibiliser, accompagner et proposer des alternatives concrètes pour permettre à chacun de contribuer à la transition écologique, sans compromis sur la praticité et le confort.</p>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="{{ asset('images/pexels-davidgallie-28884704.jpg') }}" alt="pexels-davidgallie-28884704" class="rounded-lg shadow-lg transform hover:scale-105 hover:rotate-1 transition-all duration-300">
        </div>                
    </div>
</section>

<!-- Section A propo 2 -->
<section class="bg-center bg-cover bg-no-repeat bg-gray-500 bg-blend-multiply" style="background-image: url('{{ asset('images/pexels-pripicart-620335.jpg') }}');">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-title font-title tracking-tight leading-none text-accent md:text-5xl lg:text-6xl">Pourquoi choisir EcoRide ?</h1>
        <br>
        <p class="mb-8 text-base font-body text-accentLight lg:text-xl sm:px-16 lg:px-48">Face aux défis environnementaux actuels, EcoRide s'engage à promouvoir une alternative aux modes de transport polluants. En choisissant notre solution, vous participez à une démarche écologique visant à réduire l'empreinte carbone des déplacements quotidiens.
        <br>
        Nous privilégions des pratiques responsables et des outils innovants pour rendre chaque trajet plus durable, tout en garantissant une expérience fluide et agréable.</p>
    </div>
</section>

{# 
<!-- Section Témoignages -->
<section class="testimonials-section bg-secondary pb-16">
    <h3 class="text-subtitle font-title pt-8 text-center text-textPrimary">
        Ce que disent nos utilisateurs
    </h3>
    <div id="animation-carousel" class="relative w-full" data-carousel="slide" data-carousel-interval="3000">
        <!-- Carousel wrapper -->
        <div class="max-w-screen-xl mx-auto text-center">
            <!-- Item 1 -->
            <div class="block" data-carousel-item>
                <div class="bg-secondary">
                    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                        <figure class="max-w-screen-md mx-auto">
                            <blockquote>
                                <p class="text-2xl font-body text-subtitle text-textPrimary">"Une expérience conviviale, économique et respectueuse de l'environnement."</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                                <img class="w-6 h-6 rounded-full" src="{{ asset('images/Thomas-Lean.png') }}" alt="photo de profil">
                                <div class="flex flex-col space-x-2 rtl:space-x-reverse rtl:space-x-2">
                                    <div class="pr-3 font-body text-base text-textPrimary">Thomas Lean</div>
                                    <div class="pl-3 font-body text-secondary text-tSecondaryLight">Voyageur</div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            
            <!-- Item 2 -->
            <div class="hidden" data-carousel-item>
                <div class="bg-secondary">
                    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                        <figure class="max-w-screen-md mx-auto">
                            <blockquote>
                                <p class="text-2xl font-body text-subtitle text-textPrimary">"Grâce à la plateforme, je partage mes trajets facilement tout en rentabilisant mes déplacements."</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                                <img class="w-6 h-6 rounded-full" src="{{ asset('images/Helene-Engels.png') }}" alt="photo de profil">
                                <div class="flex flex-col space-x-2 rtl:space-x-reverse rtl:space-x-2">
                                    <div class="pr-3 font-body text-base text-textPrimary">Helene Engels</div>
                                    <div class="pl-3 font-body text-secondary text-tSecondaryLight">Conductrice</div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            
            <!-- Item 3 -->
            <div class="hidden" data-carousel-item>
                <div class="bg-secondary">
                    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
                        <figure class="max-w-screen-md mx-auto">
                            <blockquote>
                                <p class="text-2xl font-body text-subtitle text-textPrimary">"Plateforme intuitive, conducteurs sympas et trajets sans stress !"</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                                <img class="w-6 h-6 rounded-full" src="{{ asset('images/Micheal-Gouch.png') }}" alt="photo de profil">
                                <div class="flex flex-col space-x-2 rtl:space-x-reverse rtl:space-x-2">
                                    <div class="pr-3 font-body text-base text-textPrimary">Micheal Gouch</div>
                                    <div class="pl-3 font-body text-secondary text-tSecondaryLight">Voyageur</div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
#}


{% endblock %}

